body, #container{
	margin: 0;
	padding: 0;
}
.block{
	background: url(../images/demo.png) 96px 96px;
}
.ground{
	background: url(../images/tilesetA.png) -32px 0px;
}
.grass{
	background: url(../images/tilesetA.png) 0px 0px;
}