body{
	margin: 0;
	padding: 0;
}
#container{
  width: 1024px;
  height: 768px;
  margin: 1em auto;
  background-color: beige;
}
.ground{
	background: url(../images/tilesetA.png) -32px 0px;
}
.grass{
	background: url(../images/tilesetA.png) 0px 0px;
}
.left{
  float: left;
}
.right{
  float: right;
}
.clear{
  clear: both;
}
.horizontal-panel{
  width: 100%;
  height: 64px;
}
.vertical-panel{
  width: 64px;
  height: 640px;
}
.navigation{
  width: 64px;
  height: 64px;
}
.navigation:hover {
  cursor: pointer;
 }
.horizontal-subpanel{
  width: 416px;
  height: 100%;
}
.vertical-subpanel{
  width: 64px;
  height: 288px;
}
#center-panel{
  width: 896px;
  height: 640px;
}
.quickslot-item{
  width: 32px;
  height: 32px;
}
.row{
  width: 896px;
  height: 32px;
}
.column{
  width: 32px;
  height: 100%;
  float: left;
}
.tile{
  width: 100%;
  height: 100%;
}
#game-canvas{
  width: 896px;
  height: 640px;
}

#nav-up-left{  background-image: url(../images/arrow-up-left-inactive.png); }
#nav-up-left:hover {  background-image: url(../images/arrow-up-left.png); }
#nav-bot-left{
  background-image: url(../images/arrow-up-left-inactive.png);
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}
#nav-bot-left:hover { background-image: url(../images/arrow-up-left.png); }
#nav-up{  background-image: url(../images/arrow-up-inactive.png); }
#nav-up:hover {  background-image: url(../images/arrow-up.png); }
#nav-bot{
  background-image: url(../images/arrow-up-inactive.png);
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
#nav-bot:hover {  background-image: url(../images/arrow-up.png); }
#nav-left{
  background-image: url(../images/arrow-up-inactive.png);
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}
#nav-left:hover { background-image: url(../images/arrow-up.png); }
#nav-right{
  background-image: url(../images/arrow-up-inactive.png);
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
#nav-right:hover {  background-image: url(../images/arrow-up.png); }
#nav-up-right{
  background-image: url(../images/arrow-up-left-inactive.png);
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
#nav-up-right:hover {  background-image: url(../images/arrow-up-left.png); }
#nav-bot-right{
  background-image: url(../images/arrow-up-left-inactive.png);
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
#nav-bot-right:hover {  background-image: url(../images/arrow-up-left.png); }

/*for testing only */
#top-panel, #bot-panel, #left-panel, #right-panel{
  background-color: beige;
}


#loading{
  width: 1024px;
  height: 768px;
  position: absolute;
  z-index: 5;
  background-color: beige;
}
#loading h1{
  margin-top: 580px;
  padding-right: 50px;
  text-align: right;
}

.skill-quick-slot{
  width: 380px;
  height: 32px;
  margin: 0 auto;
}
.skill-quick-slot-item{
  width: 32px;
  height: 32px;
  float: left;
  background-image: url(../images/quick-slot-item-container.png);
  margin: 16px 2px;
}
.skill-quick-slot-item span{
  padding-left: 3px;
}
