body{
	margin: 0;
	padding: 0;
}
#container{
  width: 1024px;
  height: 608px;
  margin: 1em auto;
  background-color: beige;
}
.ground{
	background: url(../images/tilesetA.png) -32px 0px;
}
.grass{
	background: url(../images/tilesetA.png) 0px 0px;
}
.left{
  float: left;
}
.right{
  float: right;
}
.clear{
  clear: both;
}
.horizontal-panel{
  width: 100%;
  height: 64px;
}
.vertical-panel{
  width: 64px;
  height: 480px;
}
.navigation{
  width: 64px;
  height: 64px;
}
.navigation:hover {
  cursor: pointer;
 }
.horizontal-subpanel{
  width: 416px;
  height: 100%;
}
.vertical-subpanel{
  width: 64px;
  height: 208px;
}
#center-panel{
  width: 896px;
  height: 480px;
}
.quickslot-item{
  width: 32px;
  height: 32px;
}
.row{
  width: 896px;
  height: 32px;
}
.column{
  width: 32px;
  height: 100%;
  float: left;
}
.tile{
  width: 100%;
  height: 100%;
}
#game-canvas{
  width: 896px;
  height: 480px;
}

#nav-up-left{  background-image: url(../images/arrow-up-left-inactive.png); }
#nav-up-left:hover {  background-image: url(../images/arrow-up-left.png); }
#nav-bot-left{
  background-image: url(../images/arrow-up-left-inactive.png);
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}
#nav-bot-left:hover { background-image: url(../images/arrow-up-left.png); }
#nav-up{  background-image: url(../images/arrow-up-inactive.png); }
#nav-up:hover {  background-image: url(../images/arrow-up.png); }
#nav-bot{
  background-image: url(../images/arrow-up-inactive.png);
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
#nav-bot:hover {  background-image: url(../images/arrow-up.png); }
#nav-left{
  background-image: url(../images/arrow-up-inactive.png);
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}
#nav-left:hover { background-image: url(../images/arrow-up.png); }
#nav-right{
  background-image: url(../images/arrow-up-inactive.png);
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
#nav-right:hover {  background-image: url(../images/arrow-up.png); }
#nav-up-right{
  background-image: url(../images/arrow-up-left-inactive.png);
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
#nav-up-right:hover {  background-image: url(../images/arrow-up-left.png); }
#nav-bot-right{
  background-image: url(../images/arrow-up-left-inactive.png);
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
#nav-bot-right:hover {  background-image: url(../images/arrow-up-left.png); }

/*for testing only */
#top-panel, #bot-panel, #left-panel, #right-panel{
  background-color: beige;
}


#loading{
  width: 1024px;
  height: 608px;
  position: absolute;
  z-index: 5;
  background-color: beige;
}
#loading h1{
  margin-top: 460px;
  padding-right: 50px;
  text-align: right;
}

.skill-quick-slot{
  width: 380px;
  height: 32px;
  margin: 0 auto;
}
.skill-quick-slot-item{
  width: 32px;
  height: 32px;
  float: left;
  background-image: url(../images/quick-slot-item-container.png);
  margin: 16px 2px;
}
.skill-quick-slot-item span{
  padding-left: 3px;
}

.shortcut-dock{
  background-image: url(../images/shortcut-dock.png);
  background-repeat:no-repeat;
  background-position:center 20px;
  width: 352px;
  height: 64px;
  margin: 0 auto;
  padding-left: 60px;
}
.shortcut-item{
  width: 32px;
  height: 32px;
  float: left;
  background-image: url(../images/quick-slot-item-container.png);
  margin: 0 2px;
}
#sh-char{
  background-image: url(../images/character.png);
}
#sh-stats{
  background-image: url(../images/stats.png);
}
#sh-bag{
  background-image: url(../images/bag.png);
}
#sh-skills{
  background-image: url(../images/skills.png);
}
#sh-social{
  background-image: url(../images/social.png);
}
#sh-quests{
  background-image: url(../images/quest.png);
}
#sh-map{
  background-image: url(../images/map.png);
}
#sh-options{
  background-image: url(../images/options.png);
}

/* player quick stats - hp/mp bar */
#player-quick-stats {
  height: 100%;
  width: 266px;
}

#player-avatar-icon {
  background-image: url("../images/player.png");
  width: 100%;
  height: 100%;
}

#hp-mp-bar {
  height: 32px;
  margin: 16px auto;
  width: 230px;
  font-size: 13px;
}

#hp-label {
  margin-right: 3px;
}

.bar {
  background-color: gray;
  width: 200px;
  height: 14px;
  margin: 1px 2px;
  border: 1px solid black;
}

#hp-bar {
  width: 50%; /*demo - remove later*/
  background-color: green;
  height: 100%;
}

#mp-bar {
  width: 50%; /*demo -remove later*/
  background-color: blue;
  height: 100%;
}
